body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    color: #222;
}

.container-fluid {
    padding-left: 3vw;
    padding-right: 3vw;
}

.flex-fill {}


/* Navbar */

.navbar {
    font-family: 'Lora', serif;
    font-size: 0.6875rem;
    letter-spacing: 0.1em;
    margin: 3vw 0;
    padding: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: 'Lora', serif;
    font-size: 1.25rem;
}

.nav-link {
    color: #222 !important;
}

.nav-link:hover {
    color: #ababab !important;
}

.navbar-toggler {
    border: 0;
    border-radius: 0;
}

.fa-bars {
    color: #222;
}

.navbar-toggler,
.fa-bars {
    outline: none !important;
}


/* Header */

.header-image,
.content-row,
.footer-wrapper {
    margin-bottom: 10vw;
}


/* Main */

.content {
    display: flex;
    align-items: center;
    height: 100%;
}

.content-number {
    font-style: italic;
}

.content-text {
    font-size: 1.625rem;
    font-weight: 700;
    letter-spacing: .25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #222;
}

.content-text:hover {
    color: #222;
}


/* Footer */

.footer {
    padding-bottom: 1rem;
    font-family: 'Lora', serif;
}

.footer-title {
    letter-spacing: .25em;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-title,
.footer-text {
    font-size: 0.6875rem;
}

.icons {
    text-align: center;
    font-size: 1rem;
}

i:nth-child(1) {
    padding-left: 0;
}

i {
    padding-left: 0.625rem;
}


/* Media Queries */